body {
    background-color: #3ddc85ce;
    text-align: justify;
}
body a {
    color: #00c957;
    text-decoration: none;
}
body p {
    text-indent: 20px;
}
*{
    padding: 0px;
    margin: 0px;
}


.elemento {
    background: linear-gradient(to bottom, #2fa866, #063d1e);
    padding-top: 30px;
    margin: 0px;
    color: white;
    
}
header {
    text-align: center;
}
nav a {
    margin-right: 15px; 
    text-decoration: none; 
    color: white; 
}
.container h1 {
    color: #2fa866;
}
.containerr {
    padding: 20px; /* Adicione um padding para que o conteúdo não encoste nas bordas */
    overflow: hidden; /* Garante que o conteúdo fique dentro do contêiner */
}

.containerr ol {
    margin: 0; /* Remove a margem padrão */
    padding-left: 20px; /* Adiciona recuo à esquerda */
}

.branco {
    background-color: white;
}
main {
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 0px 0px 15px 15px;
    background-color: white; /* Adicione um fundo para que o border-radius seja visível */
    overflow: hidden; /* Isso garante que o conteúdo que excede não seja mostrado */
}


footer {
    background-color: #063d1e;
    margin-top: 10px;
    text-align: center;
    padding-top: 7px;
    color: white;
    
}
.final {
    background-color: #063d1e;
    border-radius: 25px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.final h1{
    color: white;
    background-color: #00c957;
    border-radius: 25px;
}
.video {
    text-align: center;

}